services:
  nextjs-app:
    build:
      context: .
      dockerfile: .docker/nextjs/prod/Dockerfile
      target: runner
    ports:
      - "3000:3000"
    restart: always
    environment:
      NODE_ENV: ${NODE_ENV}
