@import "tailwindcss";

@theme {
  --color-light-blue-ems: #51a3f5;
  --color-medium-blue-ems: #347bc0;

  --color-bold-blue-ems: #0575e6;
  --color-dark-blue-ems: #0e51a2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
